.col-12.mt-6.mt-md-5.p-2.title-commom.text-center#faq
  Perguntas frequentes

.col-12.cards-container
  .mt-4.faq-card
    .cards-title.faq-cards-title
      %span.cards-question-text
        Quanto custa nosso serviço?
      .arrows-container
        %span.expand
          +
        %span.close
          ='-'
    .cards-answer-text.faq-cards-answer-text
      %span
        Nada. 
        %br
        Isso mesmo, nossos serviços não custam nada. Isso porque a Api2Bee trabalha
        num modelo de negócios com base em Sucesso do Cliente, nós ganhamos uma comissão
        a partir das vendas de seguro que sua plataforma está sendo capaz de realizar,
        seu negócio só tem a ganhar!

  .mt-4.faq-card#insurtech
    .cards-title.faq-cards-title
      %span.cards-question-text
        O que é Insurtech?
      .arrows-container
        %span.expand
          +
        %span.close
          ='-'
    .cards-answer-text.faq-cards-answer-text
      %span
        A junção de Insurance (seguro) e Technology (tecnologia), engloba um segmento
        relativamente novo no mercado, onde comporta os mais variados tipos de negócios
        do ramo de seguro (normalmente Startups) que estão evoluindo e conquistando o
        espaço solucionando diversos tipos de dores que esse mercado centenário com certeza tem.

  .mt-4.faq-card#embeddedinsurance
    .cards-title.faq-cards-title
      %span.cards-question-text
        O que é Embedded Insurance?
      .arrows-container
        %span.expand
          +
        %span.close
          ='-'
    .cards-answer-text.faq-cards-answer-text
      %span
        O Embedded Insurance ou Seguro Integrado, visa colocar o produto de seguros
        dentro da jornada de aquisição de um produto ou serviço. Imagine, por exemplo,
        um cliente que adquire um celular e junto com ele vem uma proposta de seguro para
        aparelhos portáteis, este seria um exemplo de Embedded Insurance.
    
  .mt-4.faq-card
    .cards-title.faq-cards-title
      %span.cards-question-text
        O que é Low-code?
      .arrows-container
        %span.expand
          +
        %span.close
          ='-'
    .cards-answer-text.faq-cards-answer-text
      %span
        Low-code são soluções que demandam pouco domínio e programação de possuem
        baixa complexidade tecnológica para implementação.

  .mt-4.faq-card
    .cards-title.faq-cards-title
      %span.cards-question-text
        O que é API?
      .arrows-container
        %span.expand
          +
        %span.close
          ='-'
    .cards-answer-text.faq-cards-answer-text
      %span
        Em sua sigla, API significa ”Application Programming Interface”, nada mais
        é do que um protocolo que possibilita a comunicação entre sistemas, por exemplo,
        a implementação do PIX no mercado brasileiro só foi possível devido a utilização
        de diversas APIs criadas pelos bancos junto ao Banco Central dentro da iniciativa
        do Open Banking.
        %br
        Aqui na Api2Bee as APIs são utilizadas para conectar o seu negócio as grandes
        seguradoras do mercado.

.col-12.p-2.mt-4.mb-6
  %a.text-decoration-none{ :href => 'www.api2bee.com.br/faq', :target => '_blank', :class => 'chat-button'}
    Veja todas as perguntas
    %i{ :class => 'fas fa-plus-circle'}