.pre-footer.col-12
  .container-fluid.p-2
    .row
      .col-12.col-md-9.mx-auto.p-2.resume
        A Api2Bee é uma empresa do setor Insurtech com o objetivo de democratizar
        a distribuição de seguros através da co.criação de uma oferta de seguro que
        seja realmente útil dentro da jornada de compra de um negócio.
  

    .row.justify-content-center
      .col-6.col-md-3
        .prefooter-title.mb-3.mt-3
          Venha bater um papo
        .col-12
          .flex-col
            =image_tag 'icons/whatsapp.png', :class => 'contacts-img-size'
            %a.text-decoration-none{ :href => 'https://api.whatsapp.com/send?1=pt_BR&phone=5511985882471', :target => '_blank' }
              (11) 98588-2471
          .flex-col
            =image_tag 'icons/o-email.png', :class => 'contacts-img-size'
            %a.text-decoration-none{ :href => 'mailto:contato@api2bee.com.br', :target => '_blank' }
              contato@api2bee.com.br
          .flex-col
            =image_tag 'icons/calendar-days.png', :class => 'contacts-img-size'
            %a.text-decoration-none{ :href => 'https://calendly.com/api2bee', :target => '_blank' }
              Marque uma reunião
      .col-6.col-md-3
        .prefooter-title.mb-3.mt-3
          Conformidade
        .col-12
          %a.text-decoration-none{ :href => 'www.api2bee.com.br/lgpd', :target => '_blank' }
            Lei geral de proteção de dados
          %a.text-decoration-none{ :href => 'www.api2bee.com.br/lgpd', :target => '_blank' }
            Política de privacidade e Cookies
          %a.text-decoration-none{ :href => 'www.api2bee.com.br/susep', :target => '_blank' }
            Registro de Susep

      .col-12.col-md-3
        .prefooter-title.mb-3.mt-3
          Site

        .row
          .col-6
            %a.text-decoration-none{ :href => '#introduction' }
              Quem somos?
            %a.text-decoration-none{ :href => '#cocreation' }
              Como funciona a co.criação?
            %a.text-decoration-none{ :href => '#after-buy' }
              E a pós venda?
            %a.text-decoration-none{ :href => '#partners' }
              Seguradoras parceiras
          .col-6
            %a.text-decoration-none{ :href => '#team' }
              Nosso time
            %a.text-decoration-none{ :href => '#sectors' }
              Pra quem é a Api2Bee?
            %a.text-decoration-none{ :href => '#faq' }
              Perguntas frequentes
            %a.text-decoration-none{ :href => 'blog.api2bee.com.br', :target => '_blank' }
              Blog

  .container-fluid
    .row      
      .col-12.col-md-9.mx-auto
        .prefooter-title.mb-3
          Siga a Api2Bee
    .row
      .col-md-9.mx-auto
        .d-flex.justify-content-start
          %a.text-decoration-none.me-3{ :href => 'https://www.facebook.com/Api2Bee/', :target => '_blank' }
            =image_tag 'icons/facebook.png', :class => 'social-media-size'
          %a.text-decoration-none.me-3{ :href => 'https://www.linkedin.com/company/api2bee/about/', :target => '_blank' }
            =image_tag 'icons/logotipo-do-linkedin.png', :class => 'social-media-size'
          %a.text-decoration-none.me-3{ :href => 'https://www.instagram.com/api2bee/', :target => '_blank' }
            =image_tag 'icons/instagram.png', :class => 'social-media-size'
          %a.text-decoration-none{ :href => 'https://twitter.com/api2bee', :target => '_blank' }
            =image_tag 'icons/twitter.png', :class => 'social-media-size'
